# connecting to postgres db 
POSTGRES_DB=db_name
POSTGRES_USER=username
POSTGRES_PASSWORD=password
DATABASE_URL=postgresql+psycopg://{username}:{password}@postgres:5432/{db_name}

# telemetry
LOGFIRE_ENVIRONMENT=env name
SERVICE_NAME=FFVII_BE
# 1 to disable, 0 to enable
DISABLE_TELEMETRY=1

# auth
# SERVICE_URL=service_url
# SERVIC_KEY=service_key

