name: Unit tests
on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches-ignore:
      - main

jobs:
  run_unit_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12.3'

      - name: Install python requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run local db migration
        run: |
          bash migrations-run-local.sh
          
      - name: Run tests with Coverage
        run: |
          coverage run -m pytest -v --junitxml=results.xml
          coverage xml
      
      - name: Generate custom badges
        run: |
          genbadge coverage -i coverage.xml -o custom_badges/coverage-badge.svg
          genbadge tests -i results.xml -o custom_badges/tests-badge.svg
